<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/Baloot7</property>
    <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
    <property name="connection.username">root</property>
    <property name="connection.password">root</property>

    <property name="connection.pool_size">100</property>

    <!--    SQL dialect-->
    <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

    <!--    Echo all executed sql to stdout -->
    <property name="show_sql">true</property>

    <!--    Names the annotated entity class-->
    <property name="hibernate.hbm2ddl.auto">update</property>

    <mapping class="ie.baloot7.model.Category"/>
    <mapping class="ie.baloot7.model.Comment"/>
    <mapping class="ie.baloot7.model.Commodity"/>
    <mapping class="ie.baloot7.model.Discount"/>
    <mapping class="ie.baloot7.model.Provider"/>
    <mapping class="ie.baloot7.model.Rating"/>
    <mapping class="ie.baloot7.model.ShoppingItem"/>
    <mapping class="ie.baloot7.model.User"/>
    <mapping class="ie.baloot7.model.Vote"/>
    <!--     DB schema will be updated if needed -->
  </session-factory>
</hibernate-configuration>